body {
background-color: rgb(12, 12, 12);
}

.logo {
  margin-right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.header {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -1%;
  color: white;
}

#FAQ {
  font-size: 25px;
  margin-top: -30px;
  margin-left: 6px;
  color: lightgray;
}

.conversion-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: -27px;
}

.conversion-form {
  display: flex;
}

.pipeline-output-box,
.mips-input-box {
  position: relative;
  flex: 10;
  height: 940px;
}

#mips-input {
  position: absolute;
  right: 0%;
  width: 40%;
  height: 100%;
  padding: 20px 15px;
  font-size: 27px;
  border-radius: 25px;
  max-width: 50%;
  max-height: 100%;
}

#mips-input:focus {
  outline: none;  
}

.convert-button-div {
  flex: 1.5;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#convert-button {
  height: 100%;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  background-color: black;
}

#convert-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

#convert-button:active {
  opacity: 1;
  filter: invert();
}

#arrow-icon {
  height: 90%;
  width: 80%;
  filter: invert();
}

/* pipline-output-box edited along with mips-input-box */

#pipeline-output {
  position: absolute;
  left: 0%;
  border-style: none;
  height: 100%;
  width: 40%;
  background-color: white;
  border-radius: 25px;
  padding: 20px 15px;
}

.input-container {
  font-size: 20px;
}

#input-advice {
  text-align: center;
  color: white;
  margin-bottom: 16px;
  margin-top: -35px;
}

#var-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -40px;
  color:white;
}

.one-var-info {
  display: flex;
  flex-direction: column;
}

.var-label {
  display: inline-block;
  margin-bottom: 5px;
  color: yellow;

}

.var-input-box {
  display: inline-block;
  width: 90%;
}

#var-outputs {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.one-var-output {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 130px;
  margin-right: 19px;
  font-size: 20px;
}

.var-output-box {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-size: 14px;
  border-style: solid;
  border-color: green;
  border-width: 1px;
  overflow-x: auto;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 76px;
  color: rgb(225, 225, 8);
}